extends layout.pug

block content
  div(style='display:none;')
  each photo in photos
    article
      header
        p #{photo.title}
      a(href=`/photos/${photo.key}`)
        img(src=photo.sizes.medium.url, alt=photo.title)
      p #{photo.description}

