doctype html
html
  head
    title The Splendid Nudibranch
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    if keywords
        meta(name='keywords' content=keywords)
    meta(name='description' content=`Author: Kris-Mikael Krister, Illustrator: Hilde. D. Johannessen, ${description}`)
    link(rel='stylesheet' href=css)
    link(
        href='https://fonts.googleapis.com/css?family=Raleway:300,600'
        rel='stylesheet'
        type='text/css'
    )

    link(
        rel='icon'
        type='image/png'
        href=favico100
        sizes='100x100'
    )
    link(
        rel='icon'
        type='image/png'
        href=favico192
        sizes='192x192'
    )
    link(
        rel='icon'
        href=favico
        sizes='32x32'
    )

    each metaValue, metaKey in ogTags
        meta(property=metaKey content=metaValue)
  body
    div(id='app')
    script(type='text/javascript').
         window.snClientId = '#{id}';
         window.snPhotos = !{JSON.stringify(photos)};
         window.snFeatureName = '#{featureName}';

    script(type='text/javascript' src=js async charset='utf-8')

    block content
